<div class="vx-col w-full mb-base">
  <vs-card>
      <div slot="header">
          <div class="btn-group my-4">
              <vs-button type="line" v-for="(item,index) in tabs" :color="tab==item?'primary':'dark'" @click="goto(item)">{{$t(item)}}</vs-button>
            </div>
      </div>
        <div class="ml-10">
            <general v-if="tab==tabs[0]" :operation_id="operation_id" @close="$emit('close')"></general>
            <time-data v-if="tab==tabs[1]" :operation_id="operation_id" @close="$emit('close')"></time-data>
            <patient-data v-if="tab==tabs[2]" :operation_id="operation_id" @close="$emit('close')"></patient-data>
            <!-- <division-status v-if="tab==tabs[3]"></division-status> -->
            <sending-decision v-if="tab==tabs[3]" :operation_id="operation_id" @close="$emit('close')"></sending-decision>
            <access-sending v-if="tab==tabs[4]" :operation_id="operation_id" @close="$emit('close')"></access-sending>
            <cure-result v-if="tab==tabs[5]" :operation_id="operation_id" @close="$emit('close')"></cure-result>
            <cure-conclusion v-if="tab==tabs[6]" :operation_id="operation_id" @close="$emit('close')"></cure-conclusion>
        </div>
  </vs-card>

</div>
