<div class="vx-col w-full mb-base">
    <vx-card :title="$t('assess_sending')">
        <div class="vx-row mb-6">
            <vs-col vs-type="flex" vs-lg="2" vs-sm="4" vs-justify="center">
                <label>HN <span class="danger">*</span></label>
            </vs-col>
            <div class="vx-col sm:w-1/2  w-full">
                <vs-input class="w-full" v-model="sending_hn" />
            </div>
        </div>
        <div class="vx-row mb-6">
            <vs-col vs-type="flex" vs-lg="2" vs-sm="4" vs-justify="center">
                <label>{{$t('diagnostic')}}</label>
            </vs-col>
            <div class="vx-col sm:w-1/2  w-full">
                <vs-input class="w-full" v-model="sending_diagnose" />
            </div>
        </div>
        <div class="vx-row mb-6">
            <vs-col vs-type="flex" vs-lg="2" vs-sm="4" vs-justify="center">
                <label>{{$t('diagnose_lv')}}</label>
            </vs-col>
            <vs-col vs-type="flex" vs-lg="10" vs-sm="8" vs-justify="center">
                <div class="vx-row mb-6 w-full">
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_lv" vs-value="1">{{$t('red')}}</vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_lv" vs-value="2">{{$t('yellow')}}
                        </vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_lv" vs-value="3">{{$t('green')}}</vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_lv" vs-value="4">{{$t('white')}}
                        </vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_lv" vs-value="5">{{$t('black')}}</vs-radio>
                    </div>
                </div>
            </vs-col>
        </div>
        <div class="vx-row mb-6">
            <vs-col vs-type="flex" vs-lg="2" vs-sm="4" vs-justify="center">
                <label>{{$t('breating')}}</label>
            </vs-col>
            <vs-col vs-type="flex" vs-lg="10" vs-sm="8" vs-justify="center">
                <div class="vx-row mb-6 w-full">
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_breating" vs-value="b1">{{$t('not_neccesary')}}</vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_breating" vs-value="b2">{{$t('not_do')}}
                        </vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_breating" vs-value="b3">{{$t('do')}}</vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_breating" vs-value="b4">{{$t('do_but_mproper')}}
                        </vs-radio>
                    </div>
                </div>
            </vs-col>
        </div>
        <div class="vx-row mb-6">
            <vs-col vs-type="flex" vs-lg="2" vs-sm="4" vs-justify="center">
                <label>{{$t('bleeding')}}</label>
            </vs-col>
            <vs-col vs-type="flex" vs-lg="10" vs-sm="8" vs-justify="center">
                <div class="vx-row mb-6 w-full">
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_bleeding" vs-value="c1">{{$t('not_neccesary')}}</vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_bleeding" vs-value="c2">{{$t('not_do')}}
                        </vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_bleeding" vs-value="c3">{{$t('do')}}</vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_bleeding" vs-value="c4">{{$t('do_but_mproper')}}
                        </vs-radio>
                    </div>
                </div>
            </vs-col>
        </div>
        <div class="vx-row mb-6">
            <vs-col vs-type="flex" vs-lg="2" vs-sm="4" vs-justify="center">
                <label>{{$t('watering')}}</label>
            </vs-col>
            <vs-col vs-type="flex" vs-lg="10" vs-sm="8" vs-justify="center">
                <div class="vx-row mb-6 w-full">
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_watering" vs-value="d1">{{$t('not_neccesary')}}</vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_watering" vs-value="d2">{{$t('not_do')}}
                        </vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_watering" vs-value="d3">{{$t('do')}}</vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="sending_watering" vs-value="d4">{{$t('do_but_mproper')}}
                        </vs-radio>
                    </div>
                </div>
            </vs-col>
        </div>
        <div class="vx-row mb-6">
            <vs-col vs-type="flex" vs-lg="2" vs-sm="4" vs-justify="center">
                <label>{{$t('bone')}}</label>
            </vs-col>
            <vs-col vs-type="flex" vs-lg="10" vs-sm="8" vs-justify="center">
                <vs-input class="w-full" v-model="sending_name" />
            </vs-col>
        </div>
        <div class="vx-row mb-6">
            <vs-col vs-type="flex" vs-lg="2" vs-sm="4" vs-justify="center">
                <label>{{$t('diagnose_name')}}</label>
            </vs-col>
            <vs-col vs-type="flex" vs-lg="10" vs-sm="8" vs-justify="center">
                <div class="vx-row mb-6 w-full">
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="diagnose_role" vs-value="doctor">{{$t('doctor')}}</vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="diagnose_role" vs-value="nurse">{{$t('nurse')}}
                        </vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="diagnose_role" vs-value="etc">{{$t('etc')}}</vs-radio>
                    </div>
                </div>
            </vs-col>
        </div>
        <div class="vx-row mb-6">
            <vs-col vs-type="flex" vs-lg="2" vs-sm="4" vs-justify="center">
                <label>{{$t('diagnose_role')}}</label>
            </vs-col>
            <vs-col vs-type="flex" vs-lg="10" vs-sm="8" vs-justify="center">
                <div class="vx-row mb-6 w-full">
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="diagnose_role" vs-value="doctor">{{$t('doctor')}}</vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="diagnose_role" vs-value="nurse">{{$t('nurse')}}
                        </vs-radio>
                    </div>
                    <div class="vx-col xl:w-1/6 lg:w-1/3 md:w-1/2">
                        <vs-radio v-model="diagnose_role" vs-value="etc">{{$t('etc')}}</vs-radio>
                    </div>
                </div>
            </vs-col>
        </div>
    </vx-card>
</div>